* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto";
	margin: 0;
}

h2,
h3 {
	margin: 0;
}

.faq {
	padding: 32px;
	min-height: 100vh;
}

@media (min-width: 960px) {
	.faq {
		display: flex;
	}

	.faq > h2 {
		align-self: flex-start;
		margin-right: 40px;
	}
}

.faq:first-child {
	font-size: 38px;
	font-weight: 700;
}

.faq-list {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	list-style: none;
}

.faq-item-title > a {
	text-decoration: none;
	color: inherit;
	font-size: 30px;
	font-weight: 400;
}

.faq-item-title::before {
	content: ">";
	color: #ff6262;
	font-size: 40px;
}

.faq-item-text {
	display: none;
	font-weight: 400;
	font-size: 20px;
}

.faq-item:target .faq-item-text {
	display: initial;
}
